/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require reset
 *= require_tree .
 *= require_self
 */

 html, body, div, span, object, a,iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    border-color: white;
    background-color: white

}

header {
    display: flex;
}

h1 {
    font-size: 32px !important;
    background-color: rgb(255, 255, 100);
    color: white;
    width: 100%;
    text-align: center;
    text-shadow: 2px 2px 8px black;
}

a {
    background-color: rgb(255, 255, 100);
    text-decoration: none;
}

.login-signup {
    width: 100%;
    font-size: 32px !important;
    background-color: rgb(255, 255, 100);
    color: white;
    width: 100%;
    text-align: center;
    text-shadow: 2px 2px 8px black;
    white-space: nowrap;
}

.header-group {
    font-size: 32px !important;
    background-color: rgb(255, 255, 100);
    color: white;
    width: 100%;
    text-align: center;
    text-shadow: 2px 2px 8px black;
    white-space: nowrap;
}

#title {
    text-shadow: 2px 2px 8px black;
}

.news {
    display: flex;
    flex-direction: column
}

#stretch {
    align-self: stretch;
    display: flex;
    flex-direction: row;
}

#stretch-image {
    justify-content: right;
}

#stretch-text {
    display: flex;
    flex-direction: column;
}

#cluster {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#cluster-text {
    display: flex;
    flex-direction: column;
}

#cluster-image {
    justify-content: right;
}

#session {
    justify-self: right;
}

.dropbtn {
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropbtn:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

